<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Second -hand trading system | Administrator login</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<link th:href="@{/css/animate.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- Sweet Alert -->
<link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>
    
</head>

<body class="gray-bg">
	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>
			<div>
				<h2 class="logo-name">WG</h2>
			</div>
			<h3>Second -hand item trading system administrator login</h3>
			<!--<p>Login in. To see it in action.</p>-->
			<form class="m-t" role="form" action="rootLogin" method="post">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter your user name" name="username" required="" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="enter password" name="password" required="" />
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">登  录</button>
			</form>
			<br><br><br>
			<a th:href="@{login}"><small>User login</small></a>
		</div>
	</div>


	<div class="footer" th:include="footer :: copyright"></div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-2.1.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

	
	<script th:inline="javascript">
		var error = [[${error}]];
		$(document).ready(function () {
			if(error!=null){
				swal("Tips", error, "warning");
			}
		});

	</script>
</body>

</html>
